/* Ini CSS External */

body {
    font-family: cursive;
}   


.logo {
    height: 60px;
    width: 60px;
    background-image: url(https://picsum.photos/500);
    background-size: cover;
    border-radius: 50%;
}

.header-wrapper { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 16px 24px;
}

.header-wrapper > .menu {
    display: flex;
}

.header-wrapper > .menu > button {
    background-color: white;
    padding: 8px 16px;
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.3s background-color ease-out;
}

.header-wrapper > .menu > button:hover {
 background-color: gainsboro;
}


.header-wrapper > .menu > button:first-child {
    border-radius: 4px 0 0 4px;
}

.header-wrapper > .menu > button:last-child {
    border-radius: 4px 0 0 4px;
}

@media only screen and (max-width: 600px) {

    .header-wrapper {
        flex-direction: column;

    }
    .menu {
        width: 100%;
        flex-direction: column;
    }

    .logo {
        margin-bottom:4px;
    }
}

main>header {
    text-align: center;
}

.main-content {
    display: flex;
    gap: 24px;
}

.main-container {
    border: 1px solid;
    height: 400px;
    flex: 1;
    align-content: center;
    text-align: center;
}

#our-package-section>header {
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: aliceblue;
}

.our-package-content {
    border: 1px solid;
    height: 300px;
    align-content: center;
    text-align: center;
}

#call-us-section>header {
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: antiquewhite;
}

.call-us-content {
    border: 1px solid;
    height: 300px;
    align-content: center;
    text-align: center;
}


/* Banner Slide  */

.slider-container {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    position: relative;
    margin: auto;
    max-height: 300px;
    background-size: cover;
}
.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}
.slide {
    width: 100%;
    flex-shrink: 0;
}
.slide img {
    width: 100%;
    display: block;
}

footer {
    text-align: center;
}

